creating an empty tuple

In [86]:
tuple1=()
tuple1

()

creating a tuple with use of string

In [87]:
tuple1=("geeks", "for")
tuple1

('geeks', 'for')

creating a tupe with the use of list

In [140]:
# list=[1,2,3,5,7,8]
# print(list)
# print(tuple(list))
# # proble here

In [139]:
# t1=tuple([1,2,3,4,5])
# t1

In [ ]:
# creating tuple with mixed datatypes
tuple1=(1,4,"geeks","g","for")
tuple1

(1, 4, 'geeks', 'g', 'for')

In [ ]:
# creating a tuple with nested tuples
tuple1=(5,8,7,9)
tuple2=("geeks","for","geeks")
tuple3=(tuple1,tuple2)
tuple3

((5, 8, 7, 9), ('geeks', 'for', 'geeks'))

In [ ]:
# creating a tuple with repetation
tuple1=(1,2,3,"teeks")*3
tuple1

(1, 2, 3, 'teeks', 1, 2, 3, 'teeks', 1, 2, 3, 'teeks')

In [ ]:
# creating a tuple with the loop
tuple1=("geeks")
n=3
for i in range(int(n)):
    tuple1=(tuple1,) 
    # , inthe above line making lot of difference
    print(tuple1)

('geeks',)
(('geeks',),)
((('geeks',),),)

In [141]:
# accessing tuples with indices
tuple=("a","b","geeks","h",5,6.8)
print(tuple[0])
tuple[2]
tuple[-3]

a

'h'

In [ ]:
# tuple unpacking
tuple=("geeks","for","geeks","hubli","is ","a","city")
a,b,c,d,e,f,g=tuple
print(a ,b, c,d,e,f,g)
# how to assign when large values are there. how to unbox paragraphs

geeks for geeks hubli is  a city

In [97]:
tuple=(1,2,3)
tuple

(1, 2, 3)

In [ ]:
# concatenation of tuples
tuple1=(1,2,5,6)
tuple2=("geeks","for","geeks")
tuple3=tuple1+tuple2
tuple3

(1, 2, 5, 6, 'geeks', 'for', 'geeks')

In [137]:
# x = ('apple', 'banana',"hi", 'cherry')
# y = enumerate(x)
# list[y]

# print(dict(y))

In [136]:
#  slicing of tuples
c = ("geeks for geeks")
print(c[0::1])
print(c[0:1:1])
print(c[::-1])
print(c[9:2:-1])
print(c[5:8])
#  tuple length
print(len(c))

# create tuple with one item
d=("appale",)

print(type(d))

geeks for geeks
g
skeeg rof skeeg
 rof sk
 fo
15
<class 'tuple'>